<template>
    <div>
            <div v-if="changed">
                {{name}}
            </div>
            <!-- Else if can be as below code -->
            <!-- <div v-else-if=""> -->
            <div v-else>
                {{mname}}
            </div>
        Checking
        <button v-on:click="changed = !changed"> Click to change </button>
    </div>
</template>


<script>
export default {
    data:function(){
        return{
        name:'dilip',
        mname:'kumar',
        changed:false
        }
    }
}
</script>